<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html">
	<title>屿鹿Eulu私房 日蛋糕,巧克力蛋糕,芝士,乳酪蛋糕,慕斯蛋糕,鲜奶蛋糕,商务蛋糕,婚庆蛋糕,提供健康、高品质蛋糕产品,货到付款 芒果流心 芝士蛋糕</title>
	<meta name="Keywords" content="生日蛋糕,巧克力蛋糕,芝士,乳酪蛋糕,慕斯蛋糕,鲜奶蛋糕,商务蛋糕,婚庆蛋糕,提供健康、高品质蛋糕产品,货到付款 芒果流心 芝士蛋糕">
	<meta name="Description" content="屿鹿蛋糕官网提供生日蛋糕,巧克力蛋糕,芝士蛋糕,水果蛋糕,慕斯蛋糕,草莓蛋糕订购。">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="__PUBLIC__/../favicon.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/base-2019060601.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/home-2019060601.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/widget-2019060601.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/commonList-2019060601.css">
	<link rel="stylesheet" href="__PUBLIC__/styles/passport-2019060601.css">

	<script src="__PUBLIC__/scripts/lib/jquery.min.js"></script>
	<script src="__PUBLIC__/scripts/lib/vue.min.js"></script>

</head>
<body>
功能开发中。。。。

{include file='public/footer' /}
<script src="__PUBLIC__/scripts/common/siteList.js"></script>
<script src="__PUBLIC__/scripts/common/widget-2019060601.js"></script>
<script src="__PUBLIC__/scripts/common/base-2019060601.js"></script>
<script src="__PUBLIC__/scripts/lib/swiper.jquery.min.js"></script>
<script src="__PUBLIC__/scripts/lib/jquery.marquee.js"></script>
<script src="__PUBLIC__/scripts/app/home-2019060601.js"></script>
<script src="__PUBLIC__/scripts/lib/jquery.lazyload.min.js"></script>
<script src="__PUBLIC__/scripts/app/commonList-2019060601.js"></script>
<script src="__PUBLIC__/scripts/app/passport/commonLogin-2019060601.js"></script>    <!--HPSTAT start-->
<script src="__PUBLIC__/scripts/common/statistics-2019060601.js"></script>
<script type="text/javascript">var glbStatConfig = {stat_host: "www.lecake.com", click_id: "LDhgzaM.ZLPF"};</script>
<script type="text/javascript" src="__PUBLIC__/js/mystat.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>


<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?3b75f374d7e1901d73fb302df25c19b6";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>

</body>
</html>
