@charset "UTF-8";
.main_cart {
  background: #ffffff;
}
.main_cart.has_content {
  background: #f9f9f9;
}
.main_cart .main .order_promotion {
  margin-bottom: 0.1rem;
  background: #f6eee5;
}
.main_cart .main .promotion_inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.08rem 0.2rem;
  border-bottom: 1px solid #f4f4f4;
}
.main_cart .main .promotion_inner:last-of-type {
  border-bottom: 0;
}
.main_cart .main .promotion_inner .flag {
  font-size: 10px;
  padding: 1px 4px;
  color: #ffffff;
  background: #ff4001;
  display: block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 0.05rem;
}
.main_cart .main .promotion_inner .flag.light {
  color: #af916d;
  position: relative;
  background: transparent;
}
.main_cart .main .promotion_inner .flag.light:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #af916d;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.main_cart .main .promotion_inner strong {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
}
.main_cart .main .check_status {
  position: absolute;
  width: 0.5rem;
  height: 0.9rem;
  left: 0;
  top: 0.1rem;
}
.main_cart .main .check_status:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -0.8rem -0.4rem;
  left: 50%;
  margin-left: -0.1rem;
}
.main_cart .main .check_status.active:before {
  background-position: -1rem -0.4rem;
}
.main_cart .main .goods_list .group_item {
  background: #ffffff;
  margin-bottom: 0.1rem;
}
.main_cart .main .goods_list .group_item:last-of-type {
  margin-bottom: 0;
}
.main_cart .main .goods_list .goods_item {
  min-height: 1.1rem;
  border-bottom: 1px solid #f4f4f4;
}
.main_cart .main .goods_list .goods_item:last-of-type {
  border-bottom: 0;
}
.main_cart .main .goods_list .goods_item .promotion_inner {
  padding: 0.06rem 0.4rem 0.06rem 0.2rem;
  top: 0.04rem;
}
.main_cart .main .goods_list .goods_item .promotion_inner:after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.6rem -0.6rem;
  right: 0.18rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.main_cart .main .goods_list .goods_item .promotion_inner.active:after {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}
.main_cart .main .goods_list .goods_info {
  padding: 0.1rem 0.2rem 0 0.5rem;
  position: relative;
}
.main_cart .main .goods_list .goods_message {
  position: relative;
}
.main_cart .main .goods_list .goods_message .img_wrap {
  width: 0.9rem;
  height: 0.9rem;
}
.main_cart .main .goods_list .goods_message .img_wrap .honey_flag {
  position: absolute;
  width: 0.38rem;
  height: 0.14rem;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  left: 0;
  top: 0;
  text-align: center;
  background: #ff7d7d;
  color: #ffffff;
  font-size: 0.1rem;
}
.main_cart .main .goods_list .goods_message .goods_detail {
  position: relative;
  margin-left: 1rem;
  height: 0.9rem;
}
.main_cart .main .goods_list .goods_message .goods_detail.third .third_logistics .text {
  display: inline-block;
  height: 0.24rem;
  line-height: 0.12rem;
  border: none;
  padding: 0;
}
.main_cart .main .goods_list .goods_message .goods_detail h2 {
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.12rem;
}
.main_cart .main .goods_list .goods_message .goods_detail h2 strong {
  max-width: calc(100% - .24rem);
}
.main_cart .main .goods_list .goods_message .goods_detail h2 .customize_name_btn {
  position: relative;
  display: block;
  width: 0.24rem;
  height: 0.3rem;
  text-indent: -10000px;
  overflow: hidden;
}
.main_cart .main .goods_list .goods_message .goods_detail h2 .customize_name_btn:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.6rem -1rem;
  right: 0;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting {
  font-size: 0.11rem;
  color: #9c9c9c;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting p {
  position: relative;
  height: 0.16rem;
  line-height: 0.16rem;
  padding-left: 0.12rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting p:before {
  content: '';
  position: absolute;
  width: 0.12rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -0.8rem -0.4rem;
  left: -0.02rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting p.candle {
  top: 0.03rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting p.candle:before {
  background-position: -0.64rem 0;
}
.main_cart .main .goods_list .goods_message .goods_detail .standard_fitting p.fork:before {
  background-position: -0.44rem 0;
}
.main_cart .main .goods_list .goods_message .goods_detail .markup_price {
  position: relative;
  margin-top: 0.02rem;
  font-size: 0.1rem;
  color: #a6906c;
  padding-left: 0.5rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .markup_price:before {
  content: '';
  position: absolute;
  width: 0.46rem;
  height: 0.15rem;
  left: 0;
  top: 50%;
  margin-top: -0.07rem;
  background: url("../images/home/markupPrice.png") no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.main_cart .main .goods_list .goods_message .goods_detail .markup_price strong {
  font-size: 0.12rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .price_wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.09rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .price_wrap .old_price {
  color: #9c9c9c;
  text-decoration: line-through;
}
.main_cart .main .goods_list .goods_message .goods_detail .price_wrap .old_price strong {
  font-size: 0.1rem;
}
.main_cart .main .goods_list .goods_message .goods_detail .price_wrap .pass_card_price {
  display: inline-block;
  margin-left: 0;
}
.main_cart .main .goods_list .goods_message .goods_detail .price_wrap strong {
  font-size: 0.12rem;
}
.main_cart .main .goods_list .goods_message .input_wrap {
  position: absolute;
  width: 1.14rem;
  height: 0.25rem;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
.main_cart .main .goods_list .goods_message .input_wrap a {
  position: absolute;
  width: 0.38rem;
  height: 100%;
  z-index: 2;
  top: 0;
  background: #efefef;
}
.main_cart .main .goods_list .goods_message .input_wrap a:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: 0 0;
  left: 50%;
  margin-left: -0.1rem;
}
.main_cart .main .goods_list .goods_message .input_wrap a.down {
  left: 0;
}
.main_cart .main .goods_list .goods_message .input_wrap a.down:before {
  background-position: 0 0;
}
.main_cart .main .goods_list .goods_message .input_wrap a.down.rm:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons_1.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.4rem -0.4rem;
  left: 50%;
  margin-left: -0.1rem;
}
.main_cart .main .goods_list .goods_message .input_wrap a.up {
  right: 0;
}
.main_cart .main .goods_list .goods_message .input_wrap a.up:before {
  background-position: -0.2rem 0;
}
.main_cart .main .goods_list .goods_message .input_wrap a.disabled {
  display: none;
}
.main_cart .main .goods_list .goods_message .input_wrap input {
  position: absolute;
  width: 0.32rem;
  height: 0.25rem;
  background: #efefef;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -0.16rem;
  text-align: center;
  line-height: normal;
}
.main_cart .main .goods_list .more_info {
  margin-top: 0.1rem;
  min-height: 0.5rem;
}
.main_cart .main .goods_list .more_info h4 {
  position: relative;
  height: 0.4rem;
  line-height: 0.4rem;
}
.main_cart .main .goods_list .more_info h4.upgrade_price,
.main_cart .main .goods_list .more_info h4.cut {
  padding-left: 0.24rem;
}
.main_cart .main .goods_list .more_info h4.upgrade_price:before,
.main_cart .main .goods_list .more_info h4.cut:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.6rem -1.4rem;
  left: 0;
}
.main_cart .main .goods_list .more_info h4.upgrade_price:after,
.main_cart .main .goods_list .more_info h4.cut:after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.2rem 0;
  right: 0;
}
.main_cart .main .goods_list .more_info h4.upgrade_price.active:after,
.main_cart .main .goods_list .more_info h4.cut.active:after {
  background-position: -1.4rem 0;
}
.main_cart .main .goods_list .more_info h4.cut:before {
  background-position: -1.2rem -0.4rem;
}
.main_cart .main .goods_list .more_info h4.birthday_card {
  background: #f9f9f9;
}
.main_cart .main .goods_list .more_info h4 span {
  position: relative;
  font-size: 0.12rem;
}
.main_cart .main .goods_list .more_info h4 span.card_text {
  display: inline-block;
  padding: 0 0.2rem 0 0.2rem;
}
.main_cart .main .goods_list .more_info h4 span.card_text.gray:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons_1.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.6rem -0.4rem;
  right: 0;
}
.main_cart .main .buy_notice {
  color: #ff4001;
  text-align: justify;
  padding: 10px 20px;
  background: #ffffff;
  margin-top: 0.1rem;
}
.main_cart .main .weekly_delivery {
  margin-top: 0.1rem;
  background: #ffffff;
}
.main_cart .main .weekly_delivery .top {
  text-align: center;
  padding: 0.18rem 0 0.02rem;
  color: #ceae78;
}
.main_cart .main .weekly_delivery .top h2 {
  font-size: 0.15rem;
  font-weight: bold;
}
.main_cart .main .weekly_delivery nav {
  width: 3rem;
  margin: 0.2rem auto 0.26rem;
}
.main_cart .main .weekly_delivery nav a {
  width: 1.2rem;
  height: 0.36rem;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  align-items: center;
  justify-content: center;
}
.main_cart .main .weekly_delivery nav a span {
  position: relative;
  padding-left: 20px;
}
.main_cart .main .weekly_delivery nav a span:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -10px;
  background-position: -1.4rem -1.4rem;
  left: 0;
}
.main_cart .main .weekly_delivery nav a.active {
  border-color: #ceae78;
  color: #ceae78;
}
.main_cart .main .weekly_delivery nav a.active span:before {
  background-position: -1.2rem -1.4rem;
}
.main_cart .main .weekly_delivery .single_list li .img_wrap {
  display: block;
  margin-bottom: 0.02rem;
}
.main_cart .main .weekly_delivery .single_list li h3 {
  font-size: 0.11rem;
  line-height: 0.14rem;
  height: 0.28rem;
  white-space: initial;
  color: #ceae78;
}
.main_cart .main .weekly_delivery .single_list li h4 i:before {
  background-position: -0.8rem -1.4rem;
}
.main_cart .main .weekly_delivery .handler_wrap {
  position: relative;
  margin: 0 0.2rem 0.1rem;
}
.main_cart .main .weekly_delivery .handler_wrap .link_wrap {
  width: 2.6rem;
  margin: auto;
  justify-content: space-between;
}
.main_cart .main .weekly_delivery .handler_wrap .link_wrap a {
  position: relative;
  padding-left: 0.2rem;
}
.main_cart .main .weekly_delivery .handler_wrap .link_wrap a:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -10px;
  background-position: -1.4rem -1.4rem;
  left: 0;
}
.main_cart .main .weekly_delivery .handler_wrap .link_wrap a.active:before {
  background-position: -1.2rem -1.4rem;
}
.main_cart .main .weekly_delivery .handler_wrap .link_wrap a i {
  font-size: 0.09rem;
}
.main_cart .main .weekly_delivery .handler_wrap .p_name {
  text-align: center;
  color: #ceae78;
  margin: 0.15rem 0;
}
.main_cart .main .weekly_delivery .handler_wrap li {
  float: left;
  width: 23.8%;
  background: #ffffff;
  margin-right: 1.58%;
  overflow: hidden;
}
.main_cart .main .weekly_delivery .handler_wrap li:last-of-type {
  margin-right: 0;
}
.main_cart .main .weekly_delivery .handler_wrap li img {
  position: absolute;
}
.main_cart .main .weekly_delivery .handler_wrap li h3 {
  font-size: 0.11rem;
  padding: 0.02rem 0;
  height: 0.32rem;
  line-height: 0.16rem;
  color: #ceae78;
  text-align: center;
}
.main_cart .main .weekly_delivery .handler_wrap .add_cart {
  display: block;
  margin: 0.1rem auto 0;
  width: 1.2rem;
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  color: #ffffff;
  background: #ceae78;
  font-size: 0.12rem;
}
.main_cart .main .weekly_delivery .desc_wrap {
  padding: 0 0.2rem 0.1rem;
}
.main_cart .main .weekly_delivery .desc_wrap h4 {
  font-size: 0.12rem;
  text-align: center;
  color: #ceae78;
}
.main_cart .main .weekly_delivery .desc_wrap h4 a {
  display: inline-block;
  position: relative;
  padding-right: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
}
.main_cart .main .weekly_delivery .desc_wrap h4 a:after {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: 0 -1.4rem;
  right: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.main_cart .main .weekly_delivery .desc_wrap h4 a.active:after {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.main_cart .main .weekly_delivery .desc_wrap p {
  font-size: 0.11rem;
  margin-bottom: 0.04rem;
  color: #868996;
}
.main_cart .main .accessories,
.main_cart .main .single_list {
  margin-top: 0.1rem;
  background: #ffffff;
  padding-bottom: 0.16rem;
}
.main_cart .main .accessories ul,
.main_cart .main .single_list ul {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
}
.main_cart .main .accessories li,
.main_cart .main .single_list li {
  display: inline-block;
  position: relative;
  margin-left: 0.06rem;
  width: 1rem;
  text-align: center;
}
.main_cart .main .accessories li .img_wrap,
.main_cart .main .single_list li .img_wrap {
  width: 100%;
  height: 1rem;
}
.main_cart .main .accessories li .img_wrap img,
.main_cart .main .single_list li .img_wrap img {
  max-width: 100%;
}
.main_cart .main .accessories li h3,
.main_cart .main .single_list li h3 {
  width: 100%;
  line-height: 0.2rem;
  font-size: 0.12rem;
}
.main_cart .main .accessories li h4,
.main_cart .main .single_list li h4 {
  font-size: 0.11rem;
  line-height: 0.2rem;
  height: 0.2rem;
}
.main_cart .main .accessories li h4 b,
.main_cart .main .single_list li h4 b {
  display: inline-block;
  vertical-align: middle;
}
.main_cart .main .accessories li h4 i,
.main_cart .main .single_list li h4 i {
  display: inline-block;
  margin-left: 0.03rem;
  width: 0.12rem;
  height: 0.12rem;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.main_cart .main .accessories li h4 i:before,
.main_cart .main .single_list li h4 i:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.2rem -0.2rem;
  left: 50%;
  margin-left: -0.1rem;
}
.main_cart .main .markup_list {
  margin-top: 0.1rem;
  background: #ffffff;
}
.main_cart .main .markup_list ul {
  margin: 0 0.16rem;
}
.main_cart .main .markup_list ul li {
  width: 48%;
}
.main_cart .main .markup_list ul li:nth-of-type(odd) {
  float: left;
}
.main_cart .main .markup_list ul li:nth-of-type(even) {
  float: right;
}
.main_cart .main .markup {
  position: fixed;
  z-index: 101;
  height: 0.5rem;
  line-height: 0.5rem;
  left: 0;
  bottom: 1.05rem;
  width: 100%;
  background: #fefbee;
}
.main_cart .main .markup.markup-enter-active,
.main_cart .main .markup.markup-leave-active {
  transition: all 0.5s;
}
.main_cart .main .markup.markup-enter,
.main_cart .main .markup.markup-leave-to {
  transform: translateY(1.05rem);
}
.main_cart .main .markup h3 {
  padding: 0 0.2rem;
}
.main_cart .main .markup h3 a {
  color: #ff4001;
}
.main_cart .main .amount {
  height: 0.5rem;
  margin-top: 0.1rem;
  background: transparent;
}
.main_cart .main .amount .inner {
  position: fixed;
  z-index: 100;
  height: 0.5rem;
  left: 0;
  bottom: 0.54rem;
  width: 100%;
  background: #ffffff;
}
.main_cart .main .amount .check_status {
  height: 0.5rem;
  top: 0;
}
.main_cart .main .amount .check_status:after {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 0.16rem;
  line-height: 0.16rem;
  content: ' 全选 ';
  top: 50%;
  margin-top: -0.08rem;
  left: 0.36rem;
}
.main_cart .main .amount .total_price {
  float: right;
  text-align: right;
  margin-right: 0.2rem;
}
.main_cart .main .amount .total_price .price_wrap {
  height: 0.5rem;
  display: table-cell;
  vertical-align: middle;
}
.main_cart .main .amount .total_price span {
  font-size: 0.1rem;
  display: block;
}
.main_cart .main .amount .total_price strong {
  font-size: 0.12rem;
  font-weight: bold;
}
.main_cart .main .amount .btn_wrap {
  float: right;
}
.main_cart .main .amount .btn_wrap .btn {
  float: left;
  height: 0.5rem;
  color: #ffffff;
  font-size: 0.11rem;
  display: table;
}
.main_cart .main .amount .btn_wrap .btn .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 0.1rem;
}
.main_cart .main .amount .btn_wrap .btn .wrap strong {
  font-size: 0.12rem;
  display: block;
}
.main_cart .main .amount .btn_wrap .btn.disabled {
  opacity: 0.5;
}
.main_cart .main .amount .btn_wrap .btn.submit_honey {
  width: 1rem;
  background: #ff7d7d;
}
.main_cart .main .amount .btn_wrap .btn.submit {
  width: 0.9rem;
  background: #ff4001;
}
.main_cart .main .amount button {
  display: none;
  height: 0.5rem;
  color: #ffffff;
  font-size: 0.11rem;
}
.main_cart .main .amount button:disabled {
  opacity: 0.5;
}
.main_cart .main .amount button.submit_honey {
  width: 1rem;
  background: #ff7d7d;
}
.main_cart .main .amount button.submit {
  width: 0.9rem;
  background: #ff4001;
}
.main_cart .main .division {
  text-align: center;
}
.main_cart .main .division h2 {
  text-align: center;
  height: 0.36rem;
  line-height: 0.36rem;
  font-weight: bold;
  font-size: 0.15rem;
}
.main_cart .main .recommend .division {
  border-top: 1px solid #d1c6af;
  padding: 0.2rem 0 0.16rem;
  color: #a38d6b;
  text-align: center;
  margin: 0 0.16rem;
}
.main_cart .main .recommend ul {
  margin: 0 0.16rem;
}
.main_cart .main .recommend ul li {
  width: 48%;
}
.main_cart .main .recommend ul li:nth-of-type(odd) {
  float: left;
}
.main_cart .main .recommend ul li:nth-of-type(even) {
  float: right;
}
.main_cart .main .birthday_cart {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 201;
  left: 0;
  top: 0;
  background: #f9f9f9;
}
.main_cart .main .birthday_cart.birthday_cart-enter-active,
.main_cart .main .birthday_cart.birthday_cart-leave-active {
  transition: all 0.5s;
}
.main_cart .main .birthday_cart.birthday_cart-enter,
.main_cart .main .birthday_cart.birthday_cart-leave-to {
  transform: translateX(100%);
}
.main_cart .main .birthday_cart .header_wrap {
  border-bottom: 1px solid #d1c6af;
}
.main_cart .main .birthday_cart .wrap {
  margin-top: 0.12rem;
  background: #ffffff;
  border-top: 1px solid #e0dcd1;
  border-bottom: 1px solid #e0dcd1;
  padding: 0.1rem 0 0.8rem;
}
.main_cart .main .birthday_cart .wrap .form_wrap {
  width: 66%;
  margin: auto;
}
.main_cart .main .birthday_cart .wrap h2 {
  font-size: 0.14rem;
  line-height: 0.36rem;
  text-align: center;
}
.main_cart .main .birthday_cart .wrap section {
  border: 1px solid #f6f6f6;
}
.main_cart .main .birthday_cart .wrap section:first-of-type {
  margin-bottom: 0.1rem;
}
.main_cart .main .birthday_cart .wrap section:last-of-type p:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.4rem -0.4rem;
  right: 0.12rem;
}
.main_cart .main .birthday_cart .wrap section:last-of-type p.active:before {
  background-position: -1.6rem -0.4rem;
}
.main_cart .main .birthday_cart .wrap p {
  color: #9c9c9c;
  line-height: 0.2rem;
  padding: 0.08rem 0.1rem;
  border-bottom: 1px solid #ededed;
  position: relative;
  background: #ffffff;
}
.main_cart .main .birthday_cart .wrap p:last-of-type {
  border-bottom: 0;
}
.main_cart .main .birthday_cart .wrap input {
  height: 0.24rem;
  width: 100%;
  padding-right: 0.5rem;
}
.main_cart .main .birthday_cart .wrap a {
  position: absolute;
  width: 0.5rem;
  text-align: center;
  height: 0.3rem;
  line-height: 0.3rem;
  top: 50%;
  margin-top: -0.15rem;
  right: 0;
  color: #a38d6b;
}
.main_cart .main .cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 200;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.main_cart .main .cover.cover-enter-active,
.main_cart .main .cover.cover-leave-active {
  transition: opacity 0.5s;
}
.main_cart .main .cover.cover-enter,
.main_cart .main .cover.cover-leave-to {
  opacity: 0;
}
.main_cart .main .no_content {
  position: relative;
  height: 2.2rem;
  text-align: center;
}
.main_cart .main .no_content img {
  position: absolute;
  width: 0.76rem;
  height: 0.76rem;
  left: 50%;
  top: 0.6rem;
  margin-left: -0.42rem;
}
.main_cart .main .no_content p {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  font-size: 0.1rem;
  color: #9c9c9c;
}
.main_cart .main .ani_promotion {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 201;
  left: 0;
  top: 0;
}
.main_cart .main .ani_promotion.ani_promotion-enter-active,
.main_cart .main .ani_promotion.ani_promotion-leave-active {
  transition: all 0.5s;
}
.main_cart .main .ani_promotion.ani_promotion-enter-active .wrap,
.main_cart .main .ani_promotion.ani_promotion-leave-active .wrap {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.main_cart .main .ani_promotion.ani_promotion-enter-active .cover,
.main_cart .main .ani_promotion.ani_promotion-leave-active .cover {
  opacity: 1;
}
.main_cart .main .ani_promotion.ani_promotion-enter .wrap,
.main_cart .main .ani_promotion.ani_promotion-leave-to .wrap {
  transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
}
.main_cart .main .ani_promotion.ani_promotion-enter .cover,
.main_cart .main .ani_promotion.ani_promotion-leave-to .cover {
  opacity: 0;
}
.main_cart .main .ani_promotion .cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.main_cart .main .ani_promotion .wrap {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: absolute;
  background: #ffffff;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.main_cart .main .ani_promotion .wrap .inner {
  padding: 0.2rem 0.2rem 0.5rem;
  max-height: 56vh;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.main_cart .main .ani_promotion .wrap.promotion_list h3 {
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0 0.2rem;
  background: #f9f9f9;
  text-align: center;
  font-size: 0.14rem;
}
.main_cart .main .ani_promotion .wrap.promotion_list h3 a {
  position: absolute;
  width: 0.54rem;
  height: 0.54rem;
  right: 0.2rem;
  top: 0;
  text-align: right;
  color: #ff0000;
}
.main_cart .main .ani_promotion .wrap.promotion_list h3 a:first-of-type {
  color: #9c9c9c;
  left: 0.2rem;
  text-align: left;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl {
  padding-left: 0.2rem;
  position: relative;
  margin-bottom: 0.1rem;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl:last-of-type {
  margin-bottom: 0;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -0.8rem -0.4rem;
  left: 0;
  margin-top: 0;
  top: 0;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl.active:before {
  background-position: -1rem -0.4rem;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl dt {
  color: #ff4001;
  line-height: 0.2rem;
}
.main_cart .main .ani_promotion .wrap.promotion_list dl dd {
  font-size: 0.11rem;
}
.main_cart .main .ani_promotion .wrap.promotion_detail {
  padding-top: 0.3rem;
}
.main_cart .main .ani_promotion .wrap.promotion_detail .close_btn {
  position: absolute;
  width: 0.32rem;
  height: 0.32rem;
  right: 0.1rem;
  top: 0.1rem;
  text-indent: -9999px;
  overflow: hidden;
}
.main_cart .main .ani_promotion .wrap.promotion_detail .close_btn:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: 0 -1rem;
  left: 0.08rem;
}
.main_cart .main .ani_customize_name {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 201;
  left: 0;
  top: 0;
}
.main_cart .main .ani_customize_name.ani_customize_name-enter-active,
.main_cart .main .ani_customize_name.ani_customize_name-leave-active {
  transition: all 0.5s;
}
.main_cart .main .ani_customize_name.ani_customize_name-enter-active .wrap,
.main_cart .main .ani_customize_name.ani_customize_name-leave-active .wrap {
  transform: translate3d(0, 80%, 0);
  -webkit-transform: translate3d(0, 80%, 0);
}
.main_cart .main .ani_customize_name.ani_customize_name-enter-active .cover,
.main_cart .main .ani_customize_name.ani_customize_name-leave-active .cover {
  opacity: 1;
}
.main_cart .main .ani_customize_name.ani_customize_name-enter .wrap,
.main_cart .main .ani_customize_name.ani_customize_name-leave-to .wrap {
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
}
.main_cart .main .ani_customize_name.ani_customize_name-enter .cover,
.main_cart .main .ani_customize_name.ani_customize_name-leave-to .cover {
  opacity: 0;
}
.main_cart .main .ani_customize_name .cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.main_cart .main .ani_customize_name .wrap {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: translate3d(0, 80%, 0);
  -webkit-transform: translate3d(0, 80%, 0);
  position: absolute;
  background: #ffffff;
  width: 86%;
  left: 7%;
  top: 0;
  z-index: 2;
  padding: 0.32rem 0.4rem;
}
.main_cart .main .ani_customize_name .wrap .input_wrap {
  background: #efefef;
  height: 0.44rem;
}
.main_cart .main .ani_customize_name .wrap .input_wrap input {
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
}
.main_cart .main .ani_customize_name .wrap .btn_wrap {
  margin-top: 0.24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.main_cart .main .ani_customize_name .wrap .btn_wrap a {
  display: block;
  width: 48%;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
}
.main_cart .main .ani_customize_name .wrap .btn_wrap a:first-of-type {
  background: #efefef;
  color: #9c9c9c;
}
.main_cart .main .ani_customize_name .wrap .btn_wrap a:last-of-type {
  background: #ff4001;
  color: #ffffff;
}
