@charset "UTF-8";
.p_item {
  background: #ffffff;
  width: 1.5rem;
  display: inline-block;
  position: relative;
  font-size: 0.12rem;
  overflow: hidden;
  vertical-align: top;
}
.p_item:last-of-type {
  margin-right: 0;
}
.p_item .auto_height {
  display: block;
}
.p_item.no_height .p_info {
  height: 1.2rem;
}
.p_item.no_height .p_info .name_wrap {
  height: 0.9rem;
}
.p_item .div_img img {
  max-height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.p_item .p_info {
  position: relative;
  height: 1.05rem;
  padding: 0.02rem 0;
}
.p_item .p_info .name_wrap {
  height: 0.72rem;
  overflow: hidden;
}
.p_item .p_info .p_name {
  padding: 0.02rem 0;
  font-size: 0.12rem;
  line-height: 0.16rem;
  overflow: hidden;
  white-space: initial;
}
.p_item .p_info .p_tag span {
  font-size: 0.1rem;
  display: inline-block;
  padding: 3px;
  color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 0.02rem;
  background: #cca976;
  line-height: 1;
  position: relative;
}
.p_item .p_info .p_tag span.vip_price_tag {
  padding-left: 0.34rem;
  background: #ff3200;
}
.p_item .p_info .p_tag span.vip_price_tag:before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.1rem;
  background: url("../images/vip/vipPriceTag.png") no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  left: 4px;
  top: 50%;
  margin-top: -0.05rem;
}
.p_item .p_info .recommend_reason {
  margin-top: 2px;
  font-size: 0.1rem;
  line-height: 0.13rem;
  max-height: 0.28rem;
  overflow: hidden;
  color: #9c9c9c;
}
.p_item .p_info .price_wrap {
  font-size: 0.14rem;
}
.p_item .p_info .price_wrap p {
  display: inline-block;
  margin-right: 0.04rem;
}
.p_item .p_info .price_wrap .old_price {
  color: #9c9c9c;
  font-size: 0.1rem;
  text-decoration: line-through;
}
.p_item .p_info .markup_price {
  position: relative;
  margin-top: 0.02rem;
  font-size: 0.12rem;
  color: #a6906c;
  padding-left: 0.5rem;
}
.p_item .p_info .markup_price:before {
  content: '';
  position: absolute;
  width: 0.46rem;
  height: 0.15rem;
  left: 0;
  top: 50%;
  margin-top: -0.07rem;
  background: url("../images/home/markupPrice.png") no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.p_item .p_info .buy_btn {
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  right: 0;
  bottom: 0.1rem;
  text-indent: -10000px;
  overflow: hidden;
}
.p_item .p_info .buy_btn:before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0.2rem;
  background: url("../images/icons.png?4") no-repeat center;
  -webkit-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
  top: 50%;
  margin-top: -0.1rem;
  background-position: -1.2rem -0.2rem;
  left: 50%;
  margin-left: -0.1rem;
}
