    <footer class="global_fix_bottom rose_bottom">
        <div class="footer_wrap rose_wrap">
            <nav class="global_footer rose flex ">
                <a class="flex_item home active" href="{:url('index/index')}" data-statistics="nav_home|首页">首页</a>
                <a class="flex_item milk" href="{:url('lists/index')}" data-statistics="nav_milk|分类">分类</a>
                <!--
                <a class="flex_item cake" href="{:url('lists/index')}" data-statistics="nav_cake|热荐">热荐</a>
                -->
                <a class="flex_item cart" href="{:url('Waitting/index')}" data-statistics="nav_cart|购物车">
                    购物车
                    <span id="globalCartNum" class="cart_num hide"></span>
                </a>
                <a class="flex_item customer" href="{:url('Waitting/index')}" data-statistics="nav_customer|个人中心">个人中心</a>
            </nav>
        </div>
    </footer>