<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>[title]</title>
    <meta name="Keywords" content="诺心蛋糕官网,诺心, 生日蛋糕订购，芝士蛋糕,慕斯蛋糕,草莓蛋糕，蛋糕网上订购，订蛋糕，网上订蛋糕">
    <meta name="Description"
          content="屿鹿Eulu蛋糕官网提供生日蛋糕,巧克力蛋糕,芝士蛋糕,水果蛋糕,慕斯蛋糕,草莓蛋糕订购。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="__PUBLIC__/../favicon.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/base-2019060601.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/widget-2019060601.css">
    <script>
        var GlobalConfig = {
            'baseUrl': 'https://shop.huayishang.net/',
            'staticUrl': 'shop.huayishang.net',
            'cookieDomain': '.huayishang.net',
            'imageRoot': '//imagecdn.lapetit.cn/postsystem/docroot/images',
            'staticVersions': '2019060601',
            'site_env': 'prod',
            'nowTime': 1559981317
        };
        var isLecakeCNDomain = false;
        //用户信息
        var customerInfo = [];
        var globalCurrentCity = '漳州市';
        //某些商品特殊餐具数量
        var globalSpecialDinnerware = {
            "105819": "\u542b2\u628a\u9910\u53c9",
            "105822": "\u542b2\u628a\u9910\u53c9",
            "105909": "\u542b2\u628a\u9910\u53c9",
            "105978": "\u542b2\u628a\u9910\u53c9",
            "106041": "\u5404\u542b2\u628a\u9910\u52fa",
            "106032": "\u542b2\u628a\u9910\u52fa",
            "106038": "\u542b2\u628a\u9910\u52fa",
            "106031": "\u542b2\u628a\u9910\u52fa",
            "106035": "\u542b2\u628a\u9910\u52fa",
            "106071": "\u542b2\u628a\u9910\u52fa",
            "106068": "\u542b2\u628a\u9910\u52fa",
            "107135": "\u542b1\u628a\u9910\u53c9"
        };
    </script>
    <script src="__PUBLIC__/scripts/lib/jquery.min.js"></script>
    <script src="__PUBLIC__/scripts/lib/vue.min.js"></script>
    <link href="__PUBLIC__/styles/swiper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/goodsDetail-2019060601.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/comments-2019060601.css" rel="stylesheet">
    <link href="__PUBLIC__/styles/commonList-2019060601.css" rel="stylesheet">
</head>